{
  "local": {
    "gfw": {
      "proxy": "PROXY <%=local.ip%>:8080"
    },
    "dns": {
      "listen": "udp://0.0.0.0:53",
      "wpad": "<%=local.ip%>",
      "direct": "<%=local.lodns%>",
      "upstream": "tcp://8.8.8.8:53"
    },
    "wpad": {
      "listen": "http://0.0.0.0:80"
     },
    "http": {
      "listen": "http://0.0.0.0:8080",
      "upstream": "socks5://127.0.0.1:7070"
    },
    "socks5": {
      "listen": "tcp://0.0.0.0:7070",
      "upstream": "<%=local.worker%>"
    }
  },
  "worker": {
    "shadow": {
      "listen": "<%=worker.shadow%>",
      "upstream": "direct://"
    }
  }
}
